.App {
  text-align: center;
  min-height: 100vh;
  background: #020305 url("./assets/images/moon.jpg") no-repeat center;
  background-size: cover;
  .App-header {
    height: 100vmin;
    width: 100%;
    .App-header-box {
      height: 100%;
      width: 100%;
      max-width: 1200px;
      min-width: 600px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .App-logo {
        font-family: AlexBrush;
        font-size: 32px;
        color: #fff;
        cursor: pointer;
        -webkit-text-stroke: 1px #fff;
      }
      .App-account {
        display: flex;
        align-items: center;
      }
    }

  }
}



