/* 添加谷歌字体 */
/* AlexBrush-Regular */
/* http://www.googlefonts.net/specimen/Alex+Brush */
/* SIL Open Font License */
@font-face {
  font-family: "AlexBrush";
  src: url("./assets/fonts/AlexBrush-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
